<a href="{{link}}" class="news-item">
  <div class="img-wrapper news-img" style="background-image: url({{imgSrc}})">
    <div class="news-img__center"></div>
    <div class="news-img__left"></div>
    <div class="news-img__left-top"></div>
    <div class="news-img__left-bottom"></div>
    <div class="news-img__right"></div>
    <div class="news-img__right-top"></div>
    <div class="news-img__right-bottom"></div>
  </div>
  <h2 {{#if hidetitle}} style="visibility: hidden;" {{/if}}>{{title}}</h2>
  <div class="news-item__date">
    <p class="news-item">{{itemDate}}</p>
  </div>
  <p>{{desription}}</p>
</a>