<a href="{{link}}" class="news-item">
  <div class="img-wrapper">
    <picture>
      <img src="{{imgSrc}}" alt="{{title}}" />
    </picture>
  </div>
  <h2>{{title}}</h2>
  <div class="news-item__date">
    <p class="news-item">{{itemDate}}</p>
  </div>
  <p>{{desription}}</p>
</a>