<div class="pay-card">
  {{#if commission}}<div class="pay-card__commission">Комиссия:<b>{{commission}}{{warn}}</b></div>{{/if}}
  <a class="pay-card__item" {{#if dataPopup}}data-popup="{{dataPopup}}"{{/if}}>
  {{#if message}}<div class="pay-card__warn">{{message}}</div>{{/if}}
    <svg class="border" width="173" height="79" viewBox="0 0 173 79" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M171.959 7.53454V71.2422L166.164 76.9755C165.322 77.8091 164.184 78.2766 162.999 78.2766L9.45942 78.2765C8.27422 78.2765 7.13687 77.809 6.29437 76.9754L0.5 71.2422V7.5344L6.29437 1.80118C7.13687 0.967576 8.27423 0.500001 9.45944 0.500001L162.999 0.500103C164.184 0.500103 165.322 0.967682 166.164 1.80129L171.959 7.53454Z" stroke="#FFC734"/>
    </svg>
    <svg class="border border-hover" width="174" height="81" viewBox="0 0 174 81" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.874056 8.55158C0.849571 8.52765 0.808371 8.54514 0.808582 8.57938L1.20589 72.8856C1.2061 72.9199 1.24751 72.9368 1.2717 72.9126C1.28662 72.8977 1.3108 72.8975 1.32591 72.9123L7.18424 78.6376C8.12605 79.558 9.39296 80.0697 10.7098 80.0616L164.247 79.1131C165.563 79.1049 166.824 78.5776 167.754 77.6456L173.541 71.8484C173.556 71.8334 173.581 71.8333 173.596 71.8481C173.62 71.872 173.661 71.8545 173.661 71.8202L173.264 7.51401C173.264 7.47976 173.222 7.46277 173.198 7.48701C173.183 7.50196 173.159 7.5021 173.144 7.48733L167.285 1.76204C166.344 0.841607 165.077 0.329893 163.76 0.338028L10.2231 1.28653C8.90627 1.29466 7.64577 1.82199 6.7154 2.75399L0.928266 8.55124C0.913342 8.56619 0.889164 8.56634 0.874056 8.55158Z" fill="#FFC734"/>
    </svg>
    <svg class="border border-xs" width="116" height="53" viewBox="0 0 116 53" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 47.8123V5.13217L3.88537 1.78253C4.71579 0.960875 5.83684 0.500001 7.00505 0.500001L108.901 0.500068C110.07 0.500069 111.191 0.961021 112.021 1.78282L115.407 5.13228V47.8123L112.021 51.1617C111.191 51.9835 110.07 52.4445 108.901 52.4445L7.00514 52.4444C5.83687 52.4444 4.71577 51.9835 3.8853 51.1618L0.5 47.8123Z" stroke="#FFC734"/>
    </svg>
    <svg class="border border-hover border-xs" width="174" height="81" viewBox="0 0 174 81" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.874056 8.55158C0.849571 8.52765 0.808371 8.54514 0.808582 8.57938L1.20589 72.8856C1.2061 72.9199 1.24751 72.9368 1.2717 72.9126C1.28662 72.8977 1.3108 72.8975 1.32591 72.9123L7.18424 78.6376C8.12605 79.558 9.39296 80.0697 10.7098 80.0616L164.247 79.1131C165.563 79.1049 166.824 78.5776 167.754 77.6456L173.541 71.8484C173.556 71.8334 173.581 71.8333 173.596 71.8481C173.62 71.872 173.661 71.8545 173.661 71.8202L173.264 7.51401C173.264 7.47976 173.222 7.46277 173.198 7.48701C173.183 7.50196 173.159 7.5021 173.144 7.48733L167.285 1.76204C166.344 0.841607 165.077 0.329893 163.76 0.338028L10.2231 1.28653C8.90627 1.29466 7.64577 1.82199 6.7154 2.75399L0.928266 8.55124C0.913342 8.56619 0.889164 8.56634 0.874056 8.55158Z" fill="#FFC734"/>
    </svg>
    <img src="{{img}}" alt=""><span>{{text}}</span>
  </a>
  {{#if message}}<div class="pay-card__message">{{message}}</div>{{/if}}
</div>