<div class="header-nav">
  {{#if pageabout }}
    {{> "link/link" text="Об игре" link="" class='active' }}
  {{else}}
    {{> "link/link" text="Об игре" link=""}}
  {{/if}}
  {{#if page-shop }}
    {{> "link/link" text="Магазин" link="../../pages/shop/shop.hbs" class='active'}}
  {{else}}
    {{> "link/link" text="Магазин" link="../../pages/shop/shop.hbs"}}
  {{/if}}
  {{#if page-events }}
    {{> "link/link" text="События" link="" class='active' }}
  {{else}}
   {{> "link/link" text="События" link=""}}
  {{/if}}
  {{#if page-news }}
    {{> "link/link" text="Новости" link="../../pages/news/news.hbs" class='active' }}
  {{else}}
    {{> "link/link" text="Новости" link="../../pages/news/news.hbs"}}
  {{/if}}
  {{#if page-help }}
    {{> "link/link" text="Поддержка" link="" class='active'}}
  {{else}}
    {{> "link/link" text="Поддержка" link=""}}
  {{/if}}
  {{#if liderbord }}
    {{> "link/link" text="Лидерборд" link="../../pages/liderbord/liderbord.hbs" class='active'}}
  {{else}}
    {{> "link/link" text="Лидерборд" link="../../pages/liderbord/liderbord.hbs"}}
  {{/if}}
  <div hidden>
  {{> "link/link" text="lk" link="../../pages/profile/profile-second.hbs"}}
  {{> "link/link" text="lk" link="../../pages/dop/dop.hbs"}}
  {{> "link/link" text="lk" link="../../pages/not-found/not-found.hbs"}}
  {{> "link/link" text="lk" link="../../pages/successful-auth/successful-auth.hbs"}}
  {{> "link/link" text="lk" link="../../pages/liderbord/liderbord-auth.hbs"}}
  {{> "link/link" text="lk" link="../../pages/index/index-liderbord.hbs"}}
  {{> "link/link" text="lk" link="../../pages/liderbord/liderbord-empty.hbs"}}
  </div>
  {{#if auth }}
  <div class="header-nav__notifications">
    {{> "notifications/notifications" }}
  </div>
  {{/if}}
</div>