<div class="header-nav">
  {{#if pageabout }}
    {{> "link/link" text="Об игре" link="" class='active' }}
  {{else}}
    {{> "link/link" text="Об игре" link=""}}
  {{/if}}
  {{#if page-shop }}
    {{> "link/link" text="Магазин" link="../../pages/shop/shop.hbs" class='active'}}
  {{else}}
    {{> "link/link" text="Магазин" link="../../pages/shop/shop.hbs"}}
  {{/if}}
  {{#if page-events }}
    {{> "link/link" text="События" link="" class='active' }}
  {{else}}
   {{> "link/link" text="События" link=""}}
  {{/if}}
  {{#if page-news }}
    {{> "link/link" text="Новости" link="../../pages/news/news.hbs" class='active' }}
  {{else}}
    {{> "link/link" text="Новости" link="../../pages/news/news.hbs"}}
  {{/if}}
  {{#if page-help }}
    {{> "link/link" text="Поддержка" link="" class='active'}}
  {{else}}
    {{> "link/link" text="Поддержка" link=""}}
  {{/if}}
  {{#if page-contacts }}
    {{> "link/link" text="Контакты" link="../../pages/contacts/contacts.hbs" class='active'}}
  {{else}}
    {{> "link/link" text="Контакты" link="../../pages/contacts/contacts.hbs"}}
  {{/if}}
  <div hidden>
  {{> "link/link" text="lk" link="../../pages/profile/profile-second.hbs"}}

  </div>
  {{#if auth }}
  <div class="header-nav__notifications">
    {{> "notifications/notifications" }}
  </div>
  {{/if}}
</div>