<div class="history-balance__item" data-type="{{type}}">
  <div class="date">{{itemDate}}</div>
  <div class="summ">{{#if plus}}+{{else}}-{{/if}} {{summ}}</div>
  <div class="desription">{{desription}}</div>
</div>